/* fontz */

@font-face {
    font-family: Fahkwang-Bold;
    src: url(type/Fahkwang-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(type/Montserrat-Light.ttf);
}

a:hover {
    color: #958fc1;
}


body {
	min-height: 100%;
	font-size: 1.3em;
	overflow: scroll;
	background-color: #FFE9C1;
  margin: 0px;
	font-family: "Montserrat-Light;", sans-serif;
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;

}

/* grid stuff */

.container {
  display: grid;
  grid-template-columns: 50% 20% 20% 5%;
  grid-template-rows: 80% 10% 10%;
  grid-template-areas: "b c d a"
                       "b f g a"
                       "b h e a";
  grid-column-gap: 50px;
    width: 100vw;
  height: 100vh;
}


.gtitle {
  grid-area: a;
  writing-mode:vertical-lr; /* vertical text */
  padding-top: 50px;
  font-family: "Montserrat-Light";
  font-size: 2em;
}

.gmap {
  grid-area: b;
  color: #000;
  font-family: "Montserrat-Light";
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gtext {
  grid-area: c;
  color: #000;
  font-family: "Montserrat-Light";
    padding-top: 50px;
    font-size: 1.2em;
}

.gdesc {
  grid-area:d;
  font-family: "Montserrat-Light";
  font-size: 1.2em;
  padding-top: 50px;
}

.gg {
  grid-area:g;
  font-family: "Montserrat-Light";
  font-size: 1.5em;
  padding-top: 50px;
}

.ge {
  grid-area e;
  font-family: "Montserrat-Light";
  font-size: 1.3em;
}

.gf {
  grid-area:f;
  font-family: "Montserrat-Light";
  font-size: 1.5em;
  padding-top: 50px;
}

.gh {
  grid-area:h;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 97%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFE9C1;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/* text styles */

.p {
  margin: 0;
  padding: 0;
}

.question {
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 6em;
  line-height: 95%;
  background: -webkit-linear-gradient(#FF3600, #CC7114);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.verticals {
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 7em;
}

.red {
  color: #CC7114;
}

.title { 
  color: #000;
  font-family: "Fahkwang-Bold";
  font-size: 4em;
}

.subtitle { 
  color: #000;
  font-family: "Fahkwang-Bold";
  font-size: 0.8em;
}

.colophon {
  font-size: 0.8em;
}

.pagetitle { 
  font-size: 1.5em;
  font-family: "Fahkwang-Bold", sans-serif;
  color: #CC7114;
  border: 2px solid #CC7114;
  padding: 2% 4%;
  text-align: center;

}

.hometext {
  font-size: 2em;
}

.padt {
  padding-right: 0.2em;
  padding-left: 0.2em;
}

/*lasvegashasfunaction*/
a:link {
	color: #000000;
  text-decoration: none;
  /*text-decoration: underline wave #CC7114;*/
}

a:visited { 
  color: #000000;
  /*text-decoration: underline #CC7114;*/
}

a:hover {
    color: #FF3600;
    text-decoration: underline #CC7114;

}

a:active {
  color: #FF3600;
  text-decoration: underline #FF3600;
}

a:focus {
    color: #958fc1;
}

/* button */

.button {
  color:#FF3600;
  border: none;
  color: white;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  font-family: "Fahkwang-Bold", sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(0,0,0,0); 
  color: #FF3600; 
  border: 2px solid #FF3600;
}

.button1:hover {
  background-color: #FF3600;
  color: #FFE9C1;
}

.button2 {
    background-color: #CC7114;
  color: #FFE9C1;
}

.button2:hover {
  background-color: #FF3600;
}


.smallbttn {
  font-size: 0.5em;
}

/* animation */

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 40s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}