/* fontz */

@font-face {
    font-family: Fahkwang-Bold;
    src: url(type/Fahkwang-Bold.ttf);
}

@font-face {
    font-family: Karla-Regular;
    src: url(type/Karla-Regular.ttf);
}

a:hover {
    color: #958fc1;
}

body {
	min-height: 100%;
	font-size: 2vw;
	background-color: #FFE9C1;
  color: #994F03;
  margin: 0px;
	font-family: "Karla-Regular;", sans-serif;
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;

}

/* grid stuff */

.container {
  display: block;
    width: 100vw;
  height: 100vh;
}


.gtitle {
  padding-top: 7vw;
  padding-left: 7vw;
  font-family: "Karla-Regular";
  font-size: 4vw;
}

.gmap {
  color: #000;
  font-family: "Karla-Regular";
  font-size: 1.5vw;
  padding-right: 2vw;
  padding-left: 7vw;
  padding-right: 7vw;
}

.gmaptitle {
  padding-top: 4vw;
  padding-bottom: 4vw;
  display: block;
}


.gtext {
  font-family: "Karla-Regular";
    font-size: 3.5vw;
    overflow:hidden;
    margin-left:7vw;
    margin-right:7vw;
}

.gdesc {
  font-family: "Karla-Regular";
  font-size: 3.5vw;
  overflow:hidden;
  margin-left:7vw;
  margin-right:7vw;
}

.gg {
  font-family: "Karla-Regular";
  font-size: 1.5em;
  padding-top: 50px;
}

.ge {
  font-family: "Karla-Regular";
  font-size: 1.5em;
}

.gf {
  font-family: "Karla-Regular";
  font-size: 1.5em;
  padding-top: 50px;
}

.gh {
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 12vw;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFE9C1;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  padding-left: 5vw;
  padding-top: 2vw;
}

/* text styles */

.p {
  margin: 0;
  padding: 0;
}

.question {
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 7vw;
  line-height: 110%;
  background: -webkit-linear-gradient(#FF3600, #CC7114);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 7vw;
  margin-bottom: 3vw;
  }

.verticals {
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 6em;
}

.red {
  color: #CC7114;
}

.title {
  color: #000;
  font-family: "Fahkwang-Bold";
  font-size: 4em;
}

.subtitle {
  color: #000;
  font-family: "Fahkwang-Bold";
  font-size: 3vw;
}

.colophon {
  font-size: 3.5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.pagetitle {
  font-size: 6vw;
  font-family: "Fahkwang-Bold", sans-serif;
  color: red;
  text-decoration: underline;
  display: inline;
  padding-right: 20vw;
  padding-top: 8vw;
}

.hometext {
  font-size: 2em;
}

.padt {
  padding-right: 0.2em;
  padding-left: 0.2em;
}

/*lasvegashasfunaction*/
a {
  color: #CC7114;
  text-decoration: underline #CC7114;
}

a:link {
	color: #994F03;
  text-decoration: underline #CC7114;
}

a:visited {
  color: #994F03;
  text-decoration: underline #CC7114;
}

a:hover {
    color: #FF3600;
    text-decoration: underline #CC7114;
}

a:active {
  color: #FF3600;
  text-decoration: underline #FF3600;
}

a:focus {
    color: #994F03;
}

/* button */

.button {
  color:#FF3600;
  border: none;
  color: white;
  padding: 2% 4%;
  text-decoration: none;
  display: inline-block;
  font-size: 4vw;
  font-family: "Fahkwang-Bold", sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 400px;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

.button1 {
  background-color: #FF3600;
  color: #FFE9C1;
}

.button1:hover {
  background-color: #aa2500;
  color: #FFE9C1;
}

.button2 {
  background-color: #FF3600;
  color: #FFE9C1;
}

.button2:hover {
  background-color: #aa2500;
  color: #FFE9C1;
}

/* animation */

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 40s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
